<?xml version="1.0" encoding="utf-8"?>

<manifest 
    
xmlns:android="http://schemas.android.com/apk/res/android" 
android:installLocation="auto"
android:versionCode="1" 
android:versionName="1.0" 
package="com.ezraanderson.chess_fruit">

    
  
<supports-screens 
                  android:smallScreens="true"
                  android:normalScreens="true" 
                  android:largeScreens="true"
                  android:xlargeScreens= "true"
                  android:anyDensity="true"                 
 />       

 
    
<uses-sdk android:minSdkVersion="13"/>  



<application 
android:label="Chess"
android:icon="@drawable/icon" 
android:enabled="true" 
android:persistent="false" 
android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  

>



<!-- Moai -->
<activity 
android:name="MoaiActivity" 
android:hardwareAccelerated="true" 
android:launchMode="singleTask"
android:multiprocess="false"
android:screenOrientation="landscape" 
android:configChanges="orientation|keyboardHidden|screenSize"

>


<intent-filter>
<action   android:name="android.intent.action.MAIN" />
<category   android:name="android.intent.category.LAUNCHER" />
<category   android:name="tv.ouya.intent.category.GAME"/>

</intent-filter>

</activity>




</application>

 
 


<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.INTERNET" />

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


</manifest>   
